.subTitleArea {
  background: url(../img/sub02/img_sub02_01_visual.jpg) no-repeat center/cover;
}
.subTitleArea .subtitle strong{
    color: var(--white);
    margin-bottom: 8px;
    display: block;
}
.subTitleArea .subtitle p{
    color: var(--white);
}
/* content01 */
.content01{
    width: 100%;
    height: 680px;
    background: url(../img/sub02/img_sub02_01_cont01_bg.jpg) no-repeat center/cover;
}
.inner {
    padding: 180px 0;
}
dl dt h3{
    font-size: 40px;
    font-weight: 500;
}
dl dt h3::after{
  content: "";
  display: block;
  margin: 40px 0;
  height: 1px;
  width: 40px;
  background: var(--black);
}
dl{
    text-align: left;
    font-weight: 500;
}
dl dt span{
    font-size: 24px;
    display: inline-block;
    margin-bottom: 20px;
}
dl dd {
    text-align: left;
    font-weight: 400;
    color: var(--gray6);
    margin-bottom: 60px;
}

.banner_btn_bk {
  color: var(--black);
  font-size: 16px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0);
  border: 1px solid var(--black);
  width: 190px;
  height: 40px;
  text-align: center;
  line-height: 42px;
  cursor: pointer;
}
.banner_btn_bk:hover {
  color: var(--white);
  background: var(--mainColor);
}

.banner_btn {
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0);
  border: 1px solid var(--white);
  width: 190px;
  height: 40px;
  text-align: center;
  line-height: 42px;
  cursor: pointer;
}
.banner_btn:hover {
  color: #233e83;
  background: var(--white);
}

.content02{
    width: 100%;
    height: 680px;
    background: url(../img/sub02/img_sub02_01_cont02_bg.jpg) no-repeat center/cover;
}
.content02 .inner .right{
    margin-left: 50%;
}
.content02 .inner .right dl{
    color: var(--white);
}
.content02 .inner .right dl h3::after{
    background: var(--white);
}
.content02 .inner .right dl dd{
    color: var(--white);
}
.content03{
    width: 100%;
    height: 680px;
    background: url(../img/sub02/img_sub02_01_cont03_bg.jpg) no-repeat center/cover;
}